.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-gap-1 {
    gap: 1em;
}